# MongoDB connection string for InspoSwipe development
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/insposwipe?retryWrites=true&w=majority
TOKEN_SECRET=insposwipe-secret
